
# ----------------------------------------------------------------
# ----------------------------------------------------------------
# ----------------------------------------------------------------

.DS_Store
*.swp

src_client_fuhaha/web/obj/game.js
src_client_fuhaha/web/obj/game.js.mem
src_client_fuhaha/web/obj/MakeDepends.mk
src_client_fuhaha/web/obj/*.o
src_client_fuhaha/web/bin

src_client_fuhaha/android/.gradle
src_client_fuhaha/android/build
src_client_fuhaha/android/assets

src_client_fuhaha/ios/assets

# ----------------------------------------------------------------
# ----------------------------------------------------------------
# ----------------------------------------------------------------

