
# ----------------------------------------------------------------
# ----------------------------------------------------------------
# ----------------------------------------------------------------

.DS_Store
*.swp

src_platform/web/obj/game.js
src_platform/web/obj/MakeDepends.mk
src_platform/web/obj/*.o
src_platform/web/bin

# ----------------------------------------------------------------
# ----------------------------------------------------------------
# ----------------------------------------------------------------

