
# ----------------------------------------------------------------
# ----------------------------------------------------------------
# ----------------------------------------------------------------

.DS_Store
*.swp

src_client/platform_web/obj/game.js
src_client/platform_web/obj/game.js.mem
src_client/platform_web/obj/MakeDepends.mk
src_client/platform_web/obj/*.o
src_client/platform_web/bin

src_client/platform_android/.gradle
src_client/platform_android/build
src_client/platform_android/assets

src_client/platform_ios/assets

# ----------------------------------------------------------------
# ----------------------------------------------------------------
# ----------------------------------------------------------------

